<!doctype html>

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>

  <div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->
    <div class="card">
      <div class="card-header">
        <h2>Shopping Cart</h2>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered m-0">
            <thead>
              <tr>
                <!-- Set columns width -->
                <th class="text-center py-3 px-4" style="min-width: 250px;">Event</th>
                <th class="text-right py-3 px-4" style="width: 250px;">Section</th>
                <th class="text-center py-3 px-4" style="width: 150px;">Seat</th>
                <th class="text-right py-3 px-4" style="width: 80px;">Cost</th>
                <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#"
                    class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i
                      class="ino ion-md-trash"></i></a></th>
              </tr>
            </thead>
            <tbody>
              <% const convert = (seat, dec, rows, cols) => { %>
                <% seat++; %>
                <% for (var i = rows; i >= 1; i--) { %>
                  <% for (var j = 1; j <= cols - (rows-i) * dec; j++) { %>
                    <% seat--; %>
                    <% if (seat == 0) return `row-${i} seat-${j}`; %>
                  <% } %>
                <% } %>  
                <% return 'null'; %>
              <% } %>
              <% const formatter=new Intl.NumberFormat('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) %>
                <% var totalCost=0; %>
                  <% if (items==null) items=[]; %>
                  <% if (items.length == 0) { %>
                    <script>clearTimer()</script>
                  <% } %>
                    <% items.forEach(function(item) { %>
                      <% if (item.sale_price == null) { %>
                      <% totalCost += Math.round((parseFloat(item.price)) * 100) / 100; %>
                      <% } else { %>
                        <% totalCost += Math.round((parseFloat(item.sale_price)) * 100) / 100; %>
                      <% } %>
                        <tr>
                          <td class="p-4">
                            <div class="media align-items-center">
                              <div class="media-body">
                                <a href="/event/<%= item.event_id %>" class="d-block text-dark">
                                  <%= item.event_name %>
                                </a>
                                <small>
                                  <!--<span class="text-muted">Color:</span> -->
                                  <span class="ui-product-color ui-product-color-sm align-text-bottom"
                                    style="background:#e81e2c;"></span> &nbsp;
                                </small>
                              </div>
                              <div>
                                <img class="img-fluid" alt="<%= item.event_name %>" src="<%= item.image_url %>"
                                  style="max-height: 100px">
                              </div>
                            </div>
                          </td>
                          <td class="text-right font-weight-semibold align-middle p-4">
                            <%= item.section_name %>
                          </td>
                          <td class="text-right font-weight-semibold align-middle p-4">
                            <%= convert(item.seat, item.row_decrement, item.section_rows, item.section_cols) %>
                          </td>
                          <% if (item.sale_price == null) { %>
                            <td class="text-right font-weight-semibold align-middle p-4">$<%= item.price %></td>
                          <% } else { %>
                            <td class="text-right font-weight-semibold align-middle p-4">
                              <p3 class="sale-price" id="sale_price">$<%= item.sale_price %> </p3>
                              <p3 class="original-price" id="original_price">$<%= item.price %></p3>
                            </td>
                          <% } %>
                          <td class="text-center align-middle px-0">
                            <button type="button" class="shop-tooltip close float-none text-danger" onclick="removeTicketFromCart(<%= item.ticket_id %>)">×</button>
                          </td>
                        </tr>
                        <% }); %>
            </tbody>
          </table>
        </div>
        <% if (totalCost != 0) { %>
          <table class="table table-bordered m-0">
          <tr>
            <td class="text-right font-weight-semibold align-middle p-4" style="width: 605px;">Taxes (8.25%) </td>
            <td class="text-right font-weight-semibold align-middle p-4" style="width: 80px;">$<%= formatter.format(totalCost * 0.0825) %></td>
          </tr>
          </table>
        <% } %>
        
        <!-- / Shopping cart table -->

        <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
          <div class="mt-4">
            <label class="text-muted font-weight-normal">Promocode</label>
            <% var discountCode = ''; %>
            <% if (promocode != null) { %>
              <% discountCode = promocode.code %>
            <% } %>
            <input type="text" placeholder="ABC" class="form-control" id="promocode" value="<%= discountCode %>">
            <button type="button" class="btn btn-md btn-primary mt-2" onclick="applyDiscount()">Apply Discount</button>
            <h5 style="color:red" id="error-box"></h5>
            <h5 style="color:green" id="success-box"></h5>
          </div>
          <div class="d-flex">
            <div class="text-right mt-4 mr-5">
              <label class="text-muted font-weight-normal m-0">Discount</label>
              <% if (promocode==null) { %>
                <div class="text-large"><strong></strong></div>
                <% } else if (promocode.type==1) { %>
                  <div class="text-large"><strong>
                      <%=promocode.amount%>%
                    </strong></div>
                  <% } else { %>
                    <div class="text-large"><strong>$<%=promocode.amount%></strong></div>
                    <% } %>
            </div>
            <div class="text-right mt-4">
              <label class="text-muted font-weight-normal m-0">Total price</label>
              <% if (promocode==null) { %>
                <div class="text-large">$<%= formatter.format(totalCost * 1.0825) %><strong></strong></div>
                <% } else if (promocode.type==1) { %>
                  <div class="text-large">
                    <strong class="original-price">$<%= formatter.format(totalCost * 1.0825) %></strong>
                    <strong class="sale-price">$<%= formatter.format((totalCost * (1-parseFloat(promocode.amount)/100)) * 1.0825) %></strong>
                  </div>
                  <% } else { %>
                    <div class="text-large">
                      <strong class="original-price">$<%= formatter.format((totalCost - parseFloat(promocode.amount)) * 1.0825) %></strong>
                      <strong class="sale-price">$<%= formatter.format(totalCost * 1.0825) %></strong>
                    </div>
                  <% } %>
            </div>
          </div>
        </div>

        <div class="float-right">
          <button type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3" onclick="location.href='/'">Add another Event</button>
          <button type="button" class="btn btn-lg btn-primary mt-2"
            onclick="location.href='/my/confirmation'">Checkout</button>
        </div>
      </div>
    </div>
  </div>

  <hr style="margin-bottom: 15px; margin-top: 15px">
  <footer class="text-center">
    <%- include('../partials/footer') %>
  </footer>
  <script src="/js/cart.js"></script>
  <%- include('../partials/scripts') %>
</body>

</html>