<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>

  <%- include('../partials/header') %>

  <div class="container mt-2">
    <div class="row">
      <div class="col-12">
        <!--the second class, sports in this example, should change depending on the URL we are generating
        RM note 4/1/23: classes are sports, concert, theater, and other-category, can change if that helps class assignment-->
        <div class="jumbotron <%= category %>">
          <h1 class="text-center"><%= category.charAt(0).toUpperCase() + category.substring(1) %></h1>
          <div class="row justify-content-center">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="content">
    <section class="mainContent">
      <% events.forEach(function(event) { %>
        <div class="row" style="margin-top: 25px">
          <div class="col-lg-9 col-12" style="margin-top: 10px">
            <h3 style="text-align: left">
              <a href="/event/<%= event.event_id %>"><%= event.event_name %></a>
            </h3>
            <p>
              <%= event.event_description %>
            </p>
          </div>
          <div class="col-lg-3 col-12" style="margin-top: 10px">
            <img class="img-fluid" alt="<%= event.event_name %>" src="<%= event.image_url %>" style="max-height: 500px">
          </div>
        </div>
        <% }); %>
    </section>
  </div>
  <hr style="margin-bottom: 15px; margin-top: 15px">
  <footer class="text-center">
    <%- include('../partials/footer') %>
  </footer>
  <%- include('../partials/scripts') %>
</body>

</html>
