<!doctype html>
<html>

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>
  <h2 style="text-align:center; margin:15px">Create Event</h2>
  <div class="container" id="changeEventDiv">
    <form>
      <div class="form-group">
        <label for="event-name">Event Name</label>
        <input type="text" class="form-control" id="event_name" placeholder="Event Name">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="event_description" placeholder="Description">
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <input type="text" class="form-control" id="category" placeholder="Category">
      </div>
      <div class="form-group">
        <label for="imageSelect">Choose An Existing Image:</label><br>
          <select name="existingImages" id="image_url" style="min-width:100%;">
            <option value="" selected disabled hidden>Select an option:</option>
            <% images.forEach( (image) => { %>
              <option value="<%= image.image_path %>"><%= image.image_path %></option>
            <% }); %>
          </select>
      </div>
      <h4 style="margin-left:25px">-or-</h4>
      <div class="form-group">
        <label for="image">Upload An Image (disabled):</label><br>
        <input type="file" name="chooseFile" id="chooseFile">
      </div>
      <div class="form-group">
        <label for="configuration">Configuration</label>
        <input type="text" class="form-control" id="configuration" placeholder="'concert' or 'arena'">
      </div>
      <button type="button" onclick="location.href='/admin/createVenue'">Create New Venue</button>
      <div class="form-group">
        <label for="date">Date</label>
        <input type="text" class="form-control" id="date" placeholder="Date (GMT Universal Format)">
      </div>
      <div class="form-group">
        <label for="form_time">Time</label>
        <input type="text" class="form-control" id="form_time" placeholder="Time (00:00:00 format)">
      </div>
      <div class="form-group">
        <label for="day">Day</label>
        <input type="text" class="form-control" id="day" placeholder="Day">
      </div>
      <div class="form-group">
        <label for="base_price">Base Price</label>
        <input type="text" class="form-control" id="base-price" placeholder="Base Price">
      </div>
      <button onclick="createEvent_ad()" id="change_event" type="button">Update</button>
      <button type="reset" value="Reset">Reset</button>
    </form>
  </div>
  <h5 style="color:red" id="error-box"></h5>
	<h5 style="color:green" id="success-box"></h5>
  <hr style="margin-bottom: 15px; margin-top: 15px">
  <footer class="text-center">
    <script src="/js/admin.js"></script>
    <%- include('../partials/footer') %>
  </footer>
  <%- include('../partials/scripts') %>
</body>

</html>
