<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>

  <div class="jumbotron-fluid jumbo-header">
    <h1>
      <%= event.event_name %>
    </h1>
  </div>
  <div class="container">
  <div class="row" style="margin-top: 25px">
    <div class="col-lg-9 col-12" style="margin-top: 10px">
      <p style="text-align: left; font-size:larger">
        <%= event.event_description %>
      </p>
    </div>
    <div class="col-lg-3 col-12" style="margin-top: 10px">
      <img class="img-fluid" alt="<%= event.event_name %>" src="<%= event.image_url %>" style="max-height: 500px">
    </div>
  </div>
  <div align="center" style="text-align:center; margin:50px">
  <p>
    <strong>Please login in to purchase a ticket.</strong>
  </p>

  <a class="btn btn-nav my-2 my-sm-0" role="button" href="" id="login" data-toggle="modal" data-target="#loginModal">
    Login
  </a>
  </div>
  </div>
  <hr style="margin-bottom: 15px; margin-top: 15px">
  <footer class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>Copyright © WBTT. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <%- include('../partials/scripts') %>
</body>
</html>

