<!doctype html>
<html>

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>

  <% tickets.forEach( (ticket) => { %>

  <% }) %>

  <div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->
    <div class="card">
      <div class="card-header">
        <h2>My Tickets</h2>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered m-0">
            <thead>
              <tr>
                <!-- Set columns width -->
                <th class="text-center py-3 px-4" style="min-width: 250px;">Event</th>
                <th class="text-right py-3 px-4" style="width: 250px;">Section</th>
                <th class="text-center py-3 px-4" style="width: 100px;">Seat #</th>
                <th class="text-right py-3 px-4" style="width: 80px;">Cost</th>
              </tr>
            </thead>
            <tbody>
              <% const formatter=new Intl.NumberFormat('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) %>
              <% if (tickets == null) tickets = []; %>
              <% tickets.forEach( (ticket) => { %>
              <tr>
                <td class="p-4">
                  <div>
                    <p><%= ticket.event_name %></p>
                    <img class="img-fluid" alt="<%= ticket.event_name %>" src="<%= ticket.image_url %>" style="max-height: 100px">
                  </div>
                </td>
                <td class="text-right font-weight-semibold align-middle p-4">
                  <%= ticket.section_name %>
                </td>
                <td class="text-right font-weight-semibold align-middle p-4">
                  <%= ticket.seat %>
                </td>
                <% if (ticket.sale_price == null) { %>
                <td class="text-right font-weight-semibold align-middle p-4">$<%= ticket.price %></td>
                <% } else { %>
                <td class="text-right font-weight-semibold align-middle p-4">
                  <p3 class="sale-price" id="sale_price">$<%= ticket.sale_price %> </p3>
                  <p3 class="original-price" id="original_price">$<%= ticket.price %></p3>
                </td>
                <% } %>
                <% }) %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <footer class="text-center">
    <script src="/js/admin.js"></script>
    <%- include('../partials/footer') %>
  </footer>
  <%- include('../partials/scripts') %>
</body>

</html>